<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Blog</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Post Submitted Successfully!</h1>
    <h2>Post Title: <%= newPost.title %></h2>
    <p>Post: <%= newPost.content %></p>
    <p>Author: <%= newPost.author %></p>
    <hr>
    <button>View All Entries</button>
</body>
</html>