<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Blog</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>All Posts (Entries Page)</h1>
    
    <% for (let i = 0; i < posts.length; i++) { %>
        <div><%= posts[i].title %></div>
        <div><%= posts[i].content %></div>
        <div><%= posts[i].author %></div>
    <% } %>
    <hr>
    <button>Create a New Post</button>
    <hr>
    <button>View Admin Posts</button>
</body>
</html>