<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Blog</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Create a New Post</h1>
    <form action="confirmation" method="post">
        <fieldset>
            <input id = "author" name = "author" type="text" placeholder="Your name">

            <input id = "title" name = "title" type="text" placeholder="Post title">

            <textarea id = "content" name = "content" placeholder="Write your post"></textarea>
        </fieldset>
        <button type="submit">Submit</button>
    </form>
</body>
</html>